<!DOCTYPE html>
<html>
  <head>
    <title>Checkitout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <header class="header">
      <div class="container">
        <h1 class="logo">
          <a href="<%= root_path %>">
            Checkitout
          </a>
        </h1>
        <nav class="navigation">
          <% unless auth %>
            <a href="<%= register_path %>" class="navigation__item">Зарегистрироваться</a>
            <a href="<%= login_path %>" class="navigation__item">Войти</a>
          <% else %>
            <a href="<%= create_board_page_path %>" class="navigation__item">Создать доску</a>
            <a href="<%= create_ticket_page_path %>" class="navigation__item">Создать задачу</a>
            <a href="<%= root_path %>" class="navigation__item">Мое расписание</a>
            <a href="<%= logout_path %>" class="navigation__item">Выйти</a>
          <% end %>
        </nav>
      </div>
    </header>
    <% if notice %>
      <div class="notice">
        <div class="container">
          <%= notice %>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
