* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
  color: #282828;
  font-size: 13px;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1000px;
  margin: auto;
  position: relative;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  border-bottom: 1px solid #dfdfdf;
  background: #fff;
  padding: 10px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.logo {
  font-size: 20px;
  color: blue;
  margin: 0;
}
.navigation__item {
  margin: 0 10px;
}
.form__field{
  display: block;
  width: 100%;
  border: 1px solid #bdbdbd;
  background: #fff;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 5px;
  font-size: 12px;
  font-family: inherit;
  min-width: 100%;
  max-width: 100%;
  max-height: 400px;
}
.form__button {
  cursor: pointer;
  background: blue;
  color: #fff;
  border: 0;
  font-family: inherit;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 60px;
  display: inline-block;
  border-radius: 2px;
}

.notice {
  padding: 20px 0;
  background: #ffd7d7;
  color: red;
}
.form__link {
  margin-left: 15px;
  color: grey;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-gap: 20px;
}
.grid__item {
  background: #efefef;
  border-radius: 2px;
  padding: 10px;
  text-align: center;
  &.shared {
    background: #feffe3;
  }
}
.ticket {
  background: #fff;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  text-align: left;
}
.ticket__title {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 0;
}
.ticket__content {
  font-size: 14px;
  line-height: 1.3;
  margin-top: 5px;
}
.tag {
  display: inline-block;
  padding: 3px 9px;
  font-size: 12px;
  background: blue;
  color: #fff;
  border-radius: 10px;
  margin-right: 5px;
}
.delete {
  background: red;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  border-radius: 100px;
  margin-top: 10px;
  display: none;
}
.ticket:hover .delete {
  display: block;
}
.delete-board {
  color: #fff;
  background: blue;
  font-size: 12px;
  padding: 6px 15px;
  display: none;
  margin-top: 5px;
}
.delete-board.red {
  background: red;
}
.board:hover .delete-board {
  display: block;
}
.empty {
  color: grey;
  padding: 10px;
  margin-bottom: 20px;
}