main.tickets
  .container
    h1.title = "Создать доску"
    = form_with url: create_board_path, method: :post do |f|
      = f.text_field :title, placeholder: "Название доски", class: "form__field"
      = f.submit "Создать", class: "form__button"