main.tickets
  .container
    .flex
      h1.title = "Ваша доска задач"
      a href=priorities_path = "По приоритету"
    .grid
      - @boards.each do |p|
        .grid__item.board
          h2.subtitle
            = p.title
            a.delete-board.red href=delete_board_path(p.id) = "Удалить доску"
          - p.tickets.order(assignee_date: :asc).each do |t|
            .ticket
              span.ticket__title = t.title
              p.ticket__content = t.content
              .flex style="margin-bottom: 10px"
                span = "Приоритет:"
                span = t.priority.title
              .flex style="margin-bottom: 10px"
                span = "Время:"
                = form_with do |form|
                  = form.text_field :assignee_date, value: format_date(t.assignee_date), disabled: true
              - if t.tags
                .tags
                  - t.tags.split(',').each do |tag|
                    .tag = tag
              - if Share.get_by_ticket(t.id).length != 0
                .tags
                  span style="display: block; margin-top: 20px; color: grey; margin-bottom: 5px" = "Делитесь с:"
                  - Share.get_by_ticket(t.id).each do |tag|
                    .tag = tag.user.name
              a.delete href=delete_ticket_path(t.id) = "Удалить задачу"
              a.delete href=share_ticket_path(t.id) = "Поделиться задачей"
          - if p.tickets.length == 0
            .empty = "Пусто"

      .grid__item.board.shared
        h2.subtitle = "Задачи которыми с вами поделились"
        - Share.get_by_user(auth['id']).order(assignee_date: :asc).each do |t|
          .ticket
            span.ticket__title = t.title
            p.ticket__content = t.content
            .flex style="margin-bottom: 10px"
              span = "Приоритет:"
              span = t.priority.title
            .flex style="margin-bottom: 10px"
              span = "Время:"
              = form_with do |form|
                = form.text_field :assignee_date, value: format_date(t.assignee_date), disabled: true
            - if t.tags
              .tags
                - t.tags.split(',').each do |tag|
                  .tag = tag
            - if Share.get_by_ticket(t.id).length != 0
              .tags
                span style="display: block; margin-top: 20px; color: grey; margin-bottom: 5px" = "Делитесь с:"
                - Share.get_by_ticket(t.id).each do |tag|
                  .tag = tag.user.name
        - if Share.get_by_user(auth['id']).length == 0
          .empty = "С вами еще никто не поделился задачей"