main.tickets
  .container
    h1.title = "Ваши задачи по приоритету"
    .grid
      - @priorities.each do |p|
        .grid__item
          h2.subtitle
            = p.title
          - @tickets.where(priority_id: p).order(assignee_date: :asc).each do |t|
            .ticket
              span.ticket__title = t.title
              p.ticket__content = t.content
              .flex style="margin-bottom: 10px"
                span = "Время:"
                = form_with do |form|
                  = form.text_field :assignee_date, value: format_date(t.assignee_date), disabled: true
              - if t.tags
                .tags
                  - t.tags.split(',').each do |tag|
                    .tag = tag
              a.delete href=delete_ticket_path(t.id) = "Удалить задачу"
          - if @tickets.where(priority_id: p).length == 0
            .empty = "Пусто"