main.tickets
  .container
    h1.title = "Поделиться"
    = form_with url: share_ticket_path, method: :post do |f|
      .flex style="margin-bottom: 10px;"
        span = "Выберите пользователя с которым хотите поделиться задачей"
        select name="user_id"
          - User.all.each do |b|
            option value=b.id = b.name + " " + b.last_name
        input type="text" name="ticket_id" hidden="true" value=params[:id]
      = f.submit "Создать", class: "form__button"