main.tickets
  .container style="max-width: 500px"
    h1.title = "Создать задачу"
    = form_with url: create_ticket_path, method: :post do |f|
      = f.text_field :title, placeholder: "Заголовок задачи", class: "form__field"
      = f.text_area :content, placeholder: "Описание задачи", class: "form__field"
      .flex style="margin-bottom: 10px;"
        span = "Приоритет"
        select name="priority_id"
          - @priorities.each do |p|
            option value=p.id = p.title
      .flex style="margin-bottom: 10px;"
        span = "Доска"
        select name="board_id"
          - @boards.each do |b|
            option value=b.id = b.title
      .flex style="margin-bottom: 10px;"
        span = "Дата назначения"
        = f.datetime_field :assignee_date
      = f.text_area :tags, placeholder: "Теги (через запятую, без пробелов. Прим: тег1,тег2,тег3)", class: "form__field"
      = f.submit "Создать", class: "form__button"