main.login
  .container
    h2.title = "Войти"
    = form_with url: login_back_path, method: :post do |f|
      = f.text_field :email, placeholder: "Электронная почта", class: "form__field"
      = f.password_field :password, placeholder: "Пароль", class: "form__field"
      = f.submit "Войти", class: "form__button"
      a.form__link  href=register_path = "Нет аккаунта?"