main.login
  .container
    h2.title = "Зарегистрироваться"
    = form_with url: register_back_path, method: :post do |f|
      = f.text_field :name, placeholder: "Ваше имя", class: "form__field"
      = f.text_field :last_name, placeholder: "Ваша фамилия", class: "form__field"
      = f.text_field :email, placeholder: "Электронная почта", class: "form__field"
      = f.password_field :password, placeholder: "Пароль", class: "form__field"
      = f.submit "Зарегистрироваться", class: "form__button"
      a.form__link  href=login_path = "Уже зарегистрированы?"